# ANZ virtual internship 
## Building a salary predicting model

Using the same transaction dataset, identify the annual salary for each customer

Explore correlations between annual salary and various customer attributes (e.g. age). These attributes could be those that are readily available in the data (e.g. age) or those that you construct or derive yourself (e.g. those relating to purchasing behaviour). Visualise any interesting correlations using a scatter plot.

Build a simple regression model to predict the annual salary for each customer using the attributes you identified above

How accurate is your model? Should ANZ use it to segment customers (for whom it does not have this data) into income brackets for reporting purposes?

For a challenge: build a decision-tree based model to predict salary. Does it perform better? How would you accurately test the performance of this model?

# Import libraries and data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme(style="whitegrid")
%matplotlib inline

In [7]:
df = pd.read_excel('clean_anz.xlsx')
df.head(2)

,status,card_present_flag,account,currency,txn_description,merchant_id,first_name,balance,gender,age,...,merchant_long_lat,movement,date,month,weekday,day,time,hour,c_long,c_lat
0,authorized,1.0,ACC-1598451071,AUD,POS,81c48296-73be-44a7-befa-d053f48ce7cd,Diana,35.39,F,26,...,153.38 -27.99,debit,2018-08-01,8,2,1,01:01:15,1,153.41,-27.95
1,authorized,0.0,ACC-1598451071,AUD,SALES-POS,830a451c-316e-4a6a-bf25-e37caedca49e,Diana,21.20,F,26,...,151.21 -33.87,debit,2018-08-01,8,2,1,01:13:45,1,153.41,-27.95

### Annual salary for each customer

In [19]:
diana = df[(df['customer_id']=='CUS-2487424745')&(df['txn_description']=='PAY/SALARY')][['amount', 'datetime']]

In [20]:
diana.value_counts()

amount   datetime
1013.67  2018-10-31 14:00:00    1
         2018-10-24 14:00:00    1
         2018-10-17 14:00:00    1
         2018-10-10 14:00:00    1
         2018-10-03 14:00:00    1
         2018-09-26 14:00:00    1
         2018-09-19 14:00:00    1
         2018-09-12 14:00:00    1
         2018-09-05 14:00:00    1
         2018-08-29 14:00:00    1
         2018-08-22 14:00:00    1
         2018-08-15 14:00:00    1
         2018-08-08 14:00:00    1
         2018-08-01 14:00:00    1
dtype: int64

In [21]:
# number of salary payments in 3 months, gets paid every week
len(diana)

14

In [29]:
michael = df[(df['customer_id']=='CUS-2142601169')&(df['txn_description']=='PAY/SALARY')][['amount', 'datetime']]

In [30]:
len(michael)

13

In [31]:
michael.value_counts()

amount   datetime
1002.13  2018-10-30 17:00:00    1
         2018-10-23 17:00:00    1
         2018-10-16 17:00:00    1
         2018-10-09 17:00:00    1
         2018-10-02 17:00:00    1
         2018-09-25 17:00:00    1
         2018-09-18 17:00:00    1
         2018-09-11 17:00:00    1
         2018-09-04 17:00:00    1
         2018-08-28 17:00:00    1
         2018-08-21 17:00:00    1
         2018-08-14 17:00:00    1
         2018-08-07 17:00:00    1
dtype: int64

In [33]:
# How to calculate annual salary?

In [36]:
natasha = df[(df['customer_id']=='CUS-527400765')&(df['txn_description']=='PAY/SALARY')][['amount', 'datetime']]

In [37]:
len(natasha)

7

In [38]:
natasha.value_counts()

amount   datetime
4216.04  2018-10-29 11:00:00    1
         2018-10-15 11:00:00    1
         2018-10-01 11:00:00    1
         2018-09-17 11:00:00    1
         2018-09-03 11:00:00    1
         2018-08-20 11:00:00    1
         2018-08-06 11:00:00    1
dtype: int64

In [41]:
natasha['amount'].sum()/len(natasha)

4216.04